.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li{role: "presentation"}
          = link_to 'Popular PROTO', prototypes_popular_index_path
        %li.active{role: "presentation"}
          = link_to 'Newest PROTO', root_path
      .col-lg-1
      = link_to 'VIEW TAGS', tags_path, class: 'btn btn-default'
